@import url(./reset.css);
:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --footer-link: hsl(228, 45%, 44%);
  --font-Epilogue: "Epilogue", sans-serif;
}
a {
  font-size: 1.5rem;
  color: var(--medium-gray);
}
a:hover {
  color: var(--almost-black);
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: var(--font-Epilogue);
  position: relative;
  color: var(--medium-gray);
  background-color: var(--almost-white);
}

main {
  max-width: 148rem;
  margin: 5rem auto 0;
  padding: 1rem;
}
header {
  width: 90%;
  margin: 2rem;

  padding: 2rem;
}
header,
nav,
.nav-links,
.user-area,
.clients-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  gap: 2rem;
}
nav {
  gap: 3rem;
  margin-left: 3rem;
}
.user-area {
  gap: 5rem;
}
.register-btn {
  border: 1px solid var(--medium-gray);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
}
.register-btn:hover {
  border: 1px solid var(--almost-black);
}
.open-menu-btn {
  display: none;
}
.feat,
.company {
  position: relative;
}

.feat-content,
.company-content {
  position: absolute;
  background: #fff;
  box-shadow: 3px 3px 13px -3px #ccc;
  padding: 2rem;
  border-radius: 1rem;
  top: 4rem;
}
.feat-content a,
.company-content a {
  display: inline-flex;
}
.feat-content a {
  gap: 1rem;
  padding: 0.5rem;
}

.company-content a {
  margin: 0.5rem 0;
}
.feat-content {
  right: 0rem;
}
.company-content {
  width: 11rem;
}
section {
  display: flex;
  gap: 10rem;
  width: 83%;
  margin: 0 auto;
}
section img {
  max-width: 100%;
}
.text-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 6rem;
}
.text-section h1 {
  font-size: clamp(6rem, 5vw, 7.2vw);
  color: var(--almost-black);
}
.text-section p {
  font-size: clamp(2rem, 2vw, 2.5rem);
  line-height: 1.5;
  margin: 1rem 0;
}
.learn-more-btn {
  background: var(--almost-black);
  color: var(--almost-white);
  font-size: clamp(2rem, 2vw, 2.5rem);
  width: 25rem;
  text-align: center;
  padding: 2.5rem;
  border-radius: 0.5rem;
}
.learn-more-btn:hover {
  color: var(--almost-black);
  border: 1px solid var(--almost-black);
  background: 0;
}
.clients-section {
  margin: 2rem 0 0;
}
.image-section {
  width: 100%;
}
.hide {
  display: none;
}
@media screen and (max-width: 980px) {
  main {
    max-width: 60rem;
  }
  section {
    flex-direction: column;
    margin: 0;
    gap: 1rem;
  }
  .text-section {
    order: 2;
    height: 55rem;
  }
  .open-menu-btn {
    display: block;
  }
  header {
    justify-content: space-between;
  }
  nav,
  .user-area {
    display: none;
  }
}
